.main-footer
  .container.border-top.pt-2.mt-3
    .main-footer-contents.row
      .footer-notice.col-4
        %ul.list-unstyled
          %li
            = link_to "What's new", '#'
          %li
            = link_to "Cook", '#'
          %li
            = link_to "Mens", '#'
          %li
            = link_to "Womes", '#'
          %li
            = link_to "Tool", '#'
      .footer-notice.col-4
        %ul.list-unstyled.ml-5
          %li
            = link_to "Mt.cookについて", '#'
          %li
            = link_to "プライバシーポリシー", '#'
          %li
            = link_to "利用規約", '#'
          %li
            = link_to "Cookie", '#'
          %li
            = link_to "", '#'
      .link-icon.col-2.offset-2.d-flex.flex-column.align-items-center
        .icons
          %i.fab.fa-facebook-square.p-2.h3
          %i.fab.fa-twitter-square.p-2.h3
        .icons
          %i.fab.fa-instagram.p-2.h3.ml-1
          %i.fab.fa-youtube.p-2.h3
    .company.text-center
      ©️ 2020 Mt.cook,Inc.
